<div class="form-group">
  <%= f.input :name, placeholder: 'Ex: Comedy', input_html: { class: 'form-control custom-input' } %>
</div>
<div class="form-group">
  <%= f.input :photo, input_html: { class: 'form-control custom-input' } %>
</div>
<div class="d-flex justify-content-between">
  <%= link_to 'Back', lists_path, class: 'btn btn-custom' %>
  <%= f.submit form_submit_text, class: 'btn btn-custom' %>
</div>
