<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
  <div class="row w-100">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-gradient p-4 rounded shadow-lg">
        <h3 class="text-center mb-4">Create a new list</h3>
        <%= simple_form_for @list do |f| %>
          <%= render 'form', f: f, form_submit_text: 'Create List' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
