.cover-lists {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(asset_path('cover.jpg'));
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover-movies {
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.typed-js {
  min-height: 33.6px;
}

.animated-title {
  font-size: 3rem;
  font-weight: bold;
  animation: moveLetters 2s ease-in-out infinite;
  display: inline-block;
  white-space: nowrap;
}

@keyframes moveLetters {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
  }
  100% {
    transform: translateX(0);
  }
}
