.movie-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
}

.star-yellow {
  color: #FFDF00;
}

.fas.fa-eye {
  color: #ff9900;
}

h3.mb-0 {
  font-size: 1.75rem;
  font-weight: 600;
}
